public/
_gen/

*.lst
*.vcxproj.user
*/llvm-*
*/llvm_*
*/x64/*
**/Debug/
**/Release/
**/build/*
**/recovery/*
**/__installer/*
**/install/*
**/pdb/*
**/.vs/*
BeefSpace_User.toml
lld-link.exe
stats/
**/dist/*
beef-lang.org/static/doxygen/*
BeefySysLib/third_party/*
BeefTools/RandoCode/*
BeefTools/BeefInstall/InstallData.zip
BeefTools/BeefInstall/BeefSetup.exe
jbuild*/
IDE/Tests/NewProject*/*
*.csproj.user
stage/
public/
temp/
www.beef-lang.org/static/setup/